@{
    ViewBag.Title = "Post";
}

<br />
<br />
<br />
<br />



<form method="post" action="/Porfile/addpost" enctype="multipart/form-data">
    <label>photo</label>
    <input type="file" name="photo" />
    <br />
    <input type="submit" value="Share" />
</form>